@import "tailwindcss";

@layer base {
  @font-face {
    font-family: 'aaa';
    src: url('../font/download1.ttf') format('truetype');
  }
  @font-face {
    font-family: 'bbb';
    src: url('../font/MaisonNeueWEB-Mono.ttf');
  }
  @font-face {
    font-family: 'ccc';
    src: url('../font/302FBA_1_0.ttf');
  }
  @font-face {
    font-family: 'ddd';
    src: url('../font/download.ttf');
  }
}
@layer components {
  .custom-box-shadow-1 {
    box-shadow: 10px 10px #FF8181, 10px 10px 0px 2px black;
  }
  .custom-box-shadow-2 {
    box-shadow: 10px 10px rgb(255, 213, 2), 10px 10px 0px 2px black;
  }
  .custom-box-shadow-3 {
    box-shadow: 10px 10px rgb(102, 199, 208), 10px 10px 0px 2px black;
  }
  .custom-box-shadow-4 {
    box-shadow: 10px 10px rgb(66, 95, 156), 10px 10px 0px 2px black;
  }
  .custom-box-shadow-5 {
    box-shadow: 10px 10px rgb(132, 205, 181), 10px 10px 0px 2px black;
  }
  .custom-box-shadow-6 {
    box-shadow: 10px 10px rgb(184, 214, 82), 10px 10px 0px 2px black;
  }
  .custom-box-shadow-7 {
    box-shadow: 10px 10px rgb(109, 210, 231), 10px 10px 0px 2px black;
  }
  .custom-box-shadow-8 {
    box-shadow: 10px 10px rgb(240, 0, 78), 10px 10px 0px 2px black;
  }
  .custom-box-shadow-9 {
    box-shadow: 10px 10px #9D84CD, 10px 10px 0px 2px black;
  }
  .custom-box-shadow-10 {
    box-shadow: 10px 10px #483791, 10px 10px 0px 2px black;
  }

  .bg-1{
    background-color: rgba(255, 129, 129, 0.8);
    background-size: contain; /* Đảm bảo ảnh fill theo chiều ngang */
    background-repeat: repeat; /* Lặp theo chiều ngang */
  };
  .bg-3{
    background-image: url('https://www.format.com/static/landing_pages/creative_people/sketches-bg-ffb8f11acd4f254ba9b92c3998f827edf8c0d7b657855f11b2cd93e9955c3004.png');
  }
  .bg-2{
    background-color: rgba(102,199,208,0.95);
  }
}

